<a href="https://colab.research.google.com/github/salma71/COVID_LA/blob/salma/data_expolration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# COVID-19 cases per county in CA
import pandas as pd
from pandas import set_option

url = 'https://data.chhs.ca.gov/dataset/6882c390-b2d7-4b9a-aefa-2068cee63e47/resource/6cd8d424-dfaa-4bdd-9410-a3d656e1176e/download/covid19data.csv'  
tot_cases = pd.read_csv(url, parse_dates=True)
with pd.option_context('display.max_columns', None):
  display(tot_cases.head())

,County Name,Most Recent Date,Total Count Confirmed,Total Count Deaths,COVID-19 Positive Patients,Suspected COVID-19 Positive Patients,ICU COVID-19 Positive Patients,ICU COVID-19 Suspected Patients
0,Los Angeles,4/1/2020,3502.0,66.0,739.0,1332.0,335.0,220.0
1,San Bernardino,4/1/2020,245.0,5.0,95.0,196.0,39.0,52.0
2,Orange,4/1/2020,579.0,11.0,117.0,221.0,50.0,48.0
3,Riverside,4/1/2020,306.0,11.0,85.0,182.0,29.0,47.0
4,Sacramento,4/1/2020,299.0,8.0,53.0,138.0,20.0,33.0

In [4]:
url_2 =  'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/COVID19_by_Neighborhood.csv'
by_neighbour = pd.read_csv(url_2)
with pd.option_context('display.max_columns', None):
  display(by_neighbour)

,FID,COMTY_NAME,CERT,Shape_Leng,Shape_Area,location,cases,case_rate,deaths,death_rate,Date,Shape__Area,Shape__Length
0,1,GRANADA HILLS,yes,89564.685903,4.264128e+08,GRANADA HILLS,299,513.83,22,37.81,2020/05/28,5.818514e+07,33094.502125
1,2,PORTER RANCH,yes,73616.951350,2.267371e+08,PORTER RANCH,89,250.08,5,14.05,2020/05/28,3.093173e+07,27183.552463
2,3,LAKEVIEW TERRACE,yes,75477.956189,1.448471e+08,LAKEVIEW TERRACE,106,807.13,3,22.84,2020/05/28,1.975813e+07,27863.458449
3,4,MISSION HILLS,yes,50728.509850,1.061586e+08,MISSION HILLS,139,576.19,6,24.87,2020/05/28,1.447757e+07,18746.395093
4,5,ANGELES NATIONAL FOREST,yes,92240.837542,1.458565e+08,ANGELES NATIONAL FOREST,0,0.00,0,0.00,2020/05/28,1.989453e+07,34046.544055
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,132,RESEDA RANCH,yes,18708.731569,1.451375e+07,RESEDA RANCH,30,647.11,0,0.00,2020/05/28,1.976856e+06,6902.338968
132,133,HARBOR PINES,yes,10876.810441,6.269908e+06,HARBOR PINES,9,373.60,0,0.00,2020/05/28,8.452589e+05,3991.750245
133,134,SYCAMORE SQUARE,yes,6644.151958,2.623158e+06,SYCAMORE SQUARE,1,154.56,0,0.00,2020/05/28,3.559718e+05,2447.865365
134,135,BROOKSIDE,yes,10335.543446,5.858064e+06,BROOKSIDE,0,0.00,0,0.00,2020/05/28,7.949482e+05,3805.238012
135,136,VIEW HEIGHTS,Yes,9976.486406,6.366350e+06,VIEW HEIGHTS,8,216.57,2,54.14,2020/05/28,8.624123e+05,3672.727579

# testing and tot_cases have date as common column
# To do:  
* Need to parse date to match in both tables.

In [5]:
import numpy as np
nyt_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
by_county = pd.read_csv(nyt_url, dtype={'fips': str})
display(by_county.head(10))
by_county.dtypes

         date       county       state   fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061      1       0
1  2020-01-22    Snohomish  Washington  53061      1       0
2  2020-01-23    Snohomish  Washington  53061      1       0
3  2020-01-24         Cook    Illinois  17031      1       0
4  2020-01-24    Snohomish  Washington  53061      1       0
5  2020-01-25       Orange  California  06059      1       0
6  2020-01-25         Cook    Illinois  17031      1       0
7  2020-01-25    Snohomish  Washington  53061      1       0
8  2020-01-26     Maricopa     Arizona  04013      1       0
9  2020-01-26  Los Angeles  California  06037      1       0

date      object
county    object
state     object
fips      object
cases      int64
deaths     int64
dtype: object

In [6]:
cases_by_county = by_county.loc[by_county['state'] == 'California']
display(cases_by_county.head())
cases_by_county.shape

          date       county       state   fips  cases  deaths
5   2020-01-25       Orange  California  06059      1       0
9   2020-01-26  Los Angeles  California  06037      1       0
10  2020-01-26       Orange  California  06059      1       0
14  2020-01-27  Los Angeles  California  06037      1       0
15  2020-01-27       Orange  California  06059      1       0

(4457, 6)

In [7]:
import datetime
cases_by_county['month'] = pd.DatetimeIndex(cases_by_county['date']).month
cases_by_county['day'] = pd.DatetimeIndex(cases_by_county['date']).day
cases_by_county['year'] = pd.DatetimeIndex(cases_by_county['date']).year
cases_by_county.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

          date       county       state   fips  cases  deaths  month  day  year
5   2020-01-25       Orange  California  06059      1       0      1   25  2020
9   2020-01-26  Los Angeles  California  06037      1       0      1   26  2020
10  2020-01-26       Orange  California  06059      1       0      1   26  2020
14  2020-01-27  Los Angeles  California  06037      1       0      1   27  2020
15  2020-01-27       Orange  California  06059      1       0      1   27  2020

In [8]:
set_option('display.max_rows',  None)
group_cases = cases_by_county.groupby(['month', 'county'], as_index=False)['cases', 'deaths'].sum()
display(group_cases.head())
print(group_cases.shape)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

   month       county  cases  deaths
0      1  Los Angeles      6       0
1      1       Orange      7       0
2      1  Santa Clara      1       0
3      2     Humboldt     10       0
4      2  Los Angeles     29       0

(179, 4)

In [9]:
census_url = 'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/2010_Census_Populations_by_Zip_Code.csv'
census_pop = pd.read_csv(census_url)
display(census_pop.head())
census_pop.shape

   Zip Code  Total Population  ...  Total Households  Average Household Size
0     91371                 1  ...                 1                    1.00
1     90001             57110  ...             12971                    4.40
2     90002             51223  ...             11731                    4.36
3     90003             66266  ...             15642                    4.22
4     90004             62180  ...             22547                    2.73

[5 rows x 7 columns]

(319, 7)

In [0]:
!pip install -q uszipcode

In [0]:
pd.DataFrame(census_pop.iloc[:,0])

In [23]:
from uszipcode import SearchEngine

search = SearchEngine(simple_zipcode=True)
# iterate over the zip codes and extract the county name
zipy_code = census_pop.iloc[:,0].values
county = pd.DataFrame()
city = pd.DataFrame()
for i in zipy_code:
  temp_1 = pd.DataFrame(np.array((search.by_zipcode(i).county).split(',')))
  temp_2 = pd.DataFrame(np.array((search.by_zipcode(i).city).split(',')))
  county =  county.append(temp_1, ignore_index = True)
  city = city.append(temp_2, ignore_index = True)
# rename the column
county.rename(columns={0: 'county'}, inplace=True)
city.rename(columns = {0: 'city'}, inplace=True)
# concat with the census_pop
census = pd.concat([census_pop, county, city],axis=1, join='inner')

census.shape

(319, 9)

In [24]:
# remove County word from county name

census['county'] = census['county'].str.replace('County', '')
census.head()

   Zip Code  Total Population  ...        county            city
0     91371                 1  ...  Los Angeles   Woodland Hills
1     90001             57110  ...  Los Angeles      Los Angeles
2     90002             51223  ...  Los Angeles      Los Angeles
3     90003             66266  ...  Los Angeles      Los Angeles
4     90004             62180  ...  Los Angeles      Los Angeles

[5 rows x 9 columns]

In [25]:
df1 = census.drop(columns='Zip Code')
df1 = df1.groupby(['city', 'county'], as_index=False)['Total Population'].sum()
display(df1.head())
print(df1.shape)
# tot = df1.merge(group_cases,how='left', left_on='county', right_on='county')

# tot

           city           county  Total Population
0         Acton     Los Angeles               7993
1      Adelanto  San Bernardino              32725
2  Agoura Hills     Los Angeles              25488
3      Alhambra     Los Angeles              83057
4      Altadena     Los Angeles              36126

(155, 3)

In [0]:
cal_coron_data = 'https://raw.githubusercontent.com/salma71/california-coronavirus-data/master/latimes-place-totals.csv'
places_tot = pd.read_csv(cal_coron_data)
display(places_tot.head())
places_tot.shape