<a href="https://colab.research.google.com/github/salma71/COVID_LA/blob/salma/data_expolration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
# COVID-19 cases per county in CA
import pandas as pd
from pandas import set_option

url = 'https://data.chhs.ca.gov/dataset/6882c390-b2d7-4b9a-aefa-2068cee63e47/resource/6cd8d424-dfaa-4bdd-9410-a3d656e1176e/download/covid19data.csv'  
tot_cases = pd.read_csv(url, parse_dates=True)
with pd.option_context('display.max_columns', None):
  display(tot_cases.head())
tot_cases['month'] = pd.DatetimeIndex(tot_cases['Most Recent Date']).month
tot_cases['day'] = pd.DatetimeIndex(tot_cases['Most Recent Date']).day
tot_cases['year'] = pd.DatetimeIndex(tot_cases['Most Recent Date']).year
with pd.option_context('display.max_columns', None):
  display(tot_cases.head())

display(tot_cases[['County Name']].describe())

,County Name,Most Recent Date,Total Count Confirmed,Total Count Deaths,COVID-19 Positive Patients,Suspected COVID-19 Positive Patients,ICU COVID-19 Positive Patients,ICU COVID-19 Suspected Patients
0,Los Angeles,4/1/2020,3502.0,66.0,739.0,1332.0,335.0,220.0
1,San Bernardino,4/1/2020,245.0,5.0,95.0,196.0,39.0,52.0
2,Orange,4/1/2020,579.0,11.0,117.0,221.0,50.0,48.0
3,Riverside,4/1/2020,306.0,11.0,85.0,182.0,29.0,47.0
4,Sacramento,4/1/2020,299.0,8.0,53.0,138.0,20.0,33.0

,County Name,Most Recent Date,Total Count Confirmed,Total Count Deaths,COVID-19 Positive Patients,Suspected COVID-19 Positive Patients,ICU COVID-19 Positive Patients,ICU COVID-19 Suspected Patients,month,day,year
0,Los Angeles,4/1/2020,3502.0,66.0,739.0,1332.0,335.0,220.0,4,1,2020
1,San Bernardino,4/1/2020,245.0,5.0,95.0,196.0,39.0,52.0,4,1,2020
2,Orange,4/1/2020,579.0,11.0,117.0,221.0,50.0,48.0,4,1,2020
3,Riverside,4/1/2020,306.0,11.0,85.0,182.0,29.0,47.0,4,1,2020
4,Sacramento,4/1/2020,299.0,8.0,53.0,138.0,20.0,33.0,4,1,2020

       County Name
count         3598
unique          59
top          Marin
freq            61

In [62]:
url_2 =  'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/COVID19_by_Neighborhood.csv'
by_neighbour = pd.read_csv(url_2)
with pd.option_context('display.max_columns', None):
  display(by_neighbour)

,FID,COMTY_NAME,CERT,Shape_Leng,Shape_Area,location,cases,case_rate,deaths,death_rate,Date,Shape__Area,Shape__Length
0,1,GRANADA HILLS,yes,89564.685903,4.264128e+08,GRANADA HILLS,299,513.83,22,37.81,2020/05/28,5.818514e+07,33094.502125
1,2,PORTER RANCH,yes,73616.951350,2.267371e+08,PORTER RANCH,89,250.08,5,14.05,2020/05/28,3.093173e+07,27183.552463
2,3,LAKEVIEW TERRACE,yes,75477.956189,1.448471e+08,LAKEVIEW TERRACE,106,807.13,3,22.84,2020/05/28,1.975813e+07,27863.458449
3,4,MISSION HILLS,yes,50728.509850,1.061586e+08,MISSION HILLS,139,576.19,6,24.87,2020/05/28,1.447757e+07,18746.395093
4,5,ANGELES NATIONAL FOREST,yes,92240.837542,1.458565e+08,ANGELES NATIONAL FOREST,0,0.00,0,0.00,2020/05/28,1.989453e+07,34046.544055
5,6,PACOIMA,yes,72215.533481,1.818709e+08,PACOIMA,664,862.57,14,18.19,2020/05/28,2.480127e+07,26664.988838
6,7,SUNLAND,yes,91881.137808,1.683606e+08,SUNLAND,144,705.61,14,68.60,2020/05/28,2.295728e+07,33901.600773
7,8,CHATSWORTH,yes,74278.419882,3.101382e+08,CHATSWORTH,181,488.38,23,62.06,2020/05/28,4.228319e+07,27415.301252
8,9,TUJUNGA,yes,56099.097745,1.368736e+08,TUJUNGA,116,417.12,11,39.55,2020/05/28,1.865949e+07,20722.331426
9,10,SHADOW HILLS,yes,48326.562289,8.518577e+07,SHADOW HILLS,10,225.12,0,0.00,2020/05/28,1.161359e+07,17838.570325
10,11,ARLETA,yes,42528.858074,7.994590e+07,ARLETA,263,765.20,5,14.55,2020/05/28,1.089599e+07,15707.863405
11,12,NORTHRIDGE,yes,82907.206059,2.809726e+08,NORTHRIDGE,314,449.88,28,40.12,2020/05/28,3.829067e+07,30597.013965
12,13,NORTH HILLS,yes,57890.342832,1.469813e+08,NORTH HILLS,421,683.72,14,22.74,2020/05/28,2.003091e+07,21366.287391
13,14,SUN VALLEY,yes,139517.177079,4.175932e+08,SUN VALLEY,286,544.94,7,13.34,2020/05/28,5.689766e+07,51454.044428
14,15,PANORAMA CITY,yes,52117.544817,1.045419e+08,PANORAMA CITY,693,920.93,34,45.18,2020/05/28,1.424253e+07,19243.236653
15,16,WEST HILLS,yes,87892.348007,2.682187e+08,WEST HILLS,130,320.63,12,29.60,2020/05/28,3.652945e+07,32428.567005
16,17,WINNETKA,yes,52165.985933,1.224080e+08,WINNETKA,282,544.55,4,7.72,2020/05/28,1.667088e+07,19269.593195
17,18,CANOGA PARK,yes,51184.098424,1.228820e+08,CANOGA PARK,483,739.79,25,38.29,2020/05/28,1.673497e+07,18904.426732
18,19,NORTH HOLLYWOOD,yes,101418.122080,3.295657e+08,NORTH HOLLYWOOD,660,435.87,22,14.53,2020/05/28,4.486143e+07,37427.582518
19,20,VAN NUYS,yes,99146.251487,2.091863e+08,VAN NUYS,664,712.49,27,28.97,2020/05/28,2.848236e+07,36591.134162
20,21,RESEDA,yes,70781.860991,1.764820e+08,RESEDA,528,689.14,24,31.32,2020/05/28,2.402916e+07,26116.953414
21,22,LAKE BALBOA,yes,77884.050019,1.546002e+08,LAKE BALBOA,190,450.17,6,14.22,2020/05/28,2.104651e+07,28755.865940
22,23,WOODLAND HILLS,yes,101409.193391,4.147513e+08,WOODLAND HILLS,155,227.76,11,16.16,2020/05/28,5.642707e+07,37388.676160
23,24,ENCINO,yes,79573.598017,3.215447e+08,ENCINO,120,265.65,12,26.57,2020/05/28,4.373263e+07,29355.545193
24,25,TARZANA,yes,59738.470789,2.007749e+08,TARZANA,157,508.49,9,29.15,2020/05/28,2.730806e+07,22043.390724
25,26,SHERMAN OAKS,yes,102611.109505,3.029048e+08,SHERMAN OAKS,222,254.43,10,11.46,2020/05/28,4.119558e+07,37847.584435
26,27,VALLEY VILLAGE,yes,31239.658686,5.269587e+07,VALLEY VILLAGE,203,821.20,8,32.36,2020/05/28,7.168740e+06,11515.569485
27,28,TOLUCA TERRACE,Y,6258.519257,2.368120e+06,TOLUCA TERRACE,6,459.42,0,0.00,2020/05/28,3.221818e+05,2307.431174
28,29,LOS FELIZ,,83136.014468,2.292974e+08,LOS FELIZ,49,226.77,1,4.63,2020/05/28,3.116828e+07,30660.013909
29,30,TOLUCA WOODS,Y,12479.736121,5.423091e+06,TOLUCA WOODS,3,161.46,0,0.00,2020/05/28,7.377122e+05,4601.286507
30,31,STUDIO CITY,yes,79519.270843,1.362240e+08,STUDIO CITY,77,343.14,5,22.28,2020/05/28,1.852017e+07,29320.298357
31,32,TOLUCA LAKE,yes,22524.611050,2.851307e+07,TOLUCA LAKE,19,218.29,0,0.00,2020/05/28,3.877682e+06,8304.799479
32,33,ATWATER VILLAGE,,56592.345854,5.980467e+07,ATWATER VILLAGE,51,347.74,2,13.64,2020/05/28,8.127629e+06,20878.701566
33,34,HOLLYWOOD HILLS,,77904.698215,2.406528e+08,HOLLYWOOD HILLS,81,275.19,5,16.99,2020/05/28,3.270774e+07,28724.023053
34,35,EAGLE ROCK,yes,61429.283132,1.294581e+08,EAGLE ROCK,170,429.41,9,22.73,2020/05/28,1.759947e+07,22646.063991
35,36,GLASSELL PARK,yes,49989.044398,8.607358e+07,GLASSELL PARK,179,566.38,5,15.82,2020/05/28,1.169667e+07,18425.923405
36,37,BEVERLY CREST,yes,112251.492704,2.372169e+08,BEVERLY CREST,37,295.41,2,15.97,2020/05/28,3.223197e+07,41379.586518
37,38,PACIFIC PALISADES,yes,139755.642029,4.331203e+08,PACIFIC PALISADES,52,244.23,3,14.09,2020/05/28,5.879378e+07,51517.764331
38,39,BRENTWOOD,yes,98768.621311,2.515107e+08,BRENTWOOD,75,242.29,1,3.23,2020/05/28,3.415124e+07,36428.015704
39,40,BEL AIR,yes,78225.350275,1.895628e+08,BEL AIR,35,415.23,0,0.00,2020/05/28,2.574831e+07,28844.333712
40,41,PALISADES HIGHLANDS,,77130.147216,2.115449e+08,PALISADES HIGHLANDS,3,78.00,0,0.00,2020/05/28,2.872923e+07,28437.879715
41,42,MANDEVILLE CANYON,,75458.437869,1.641353e+08,MANDEVILLE CANYON,1,32.01,0,0.00,2020/05/28,2.229233e+07,27839.115292
42,43,HIGHLAND PARK,yes,60026.264433,8.163714e+07,HIGHLAND PARK,188,388.50,1,2.07,2020/05/28,1.109221e+07,22134.718934
43,44,HOLLYWOOD,yes,79825.801065,1.218061e+08,HOLLYWOOD,264,386.79,6,8.79,2020/05/28,1.654538e+07,29400.135294
44,45,MT. WASHINGTON,yes,42965.642601,6.552393e+07,MT. WASHINGTON,100,414.16,3,12.42,2020/05/28,8.900262e+06,15838.318116
45,46,SILVERLAKE,,66382.737358,1.065740e+08,SILVERLAKE,175,396.98,10,22.68,2020/05/28,1.447485e+07,24466.996137
46,47,ELYSIAN VALLEY,,41584.355923,3.559534e+07,ELYSIAN VALLEY,54,530.92,0,0.00,2020/05/28,4.834150e+06,15328.822574
47,48,THAI TOWN,,10625.682524,6.169147e+06,THAI TOWN,30,305.84,0,0.00,2020/05/28,8.380163e+05,3916.396936
48,49,LINCOLN HEIGHTS,yes,59940.451693,8.978165e+07,LINCOLN HEIGHTS,225,690.25,17,52.15,2020/05/28,1.218991e+07,22096.794071
49,50,EL SERENO,yes,55189.343735,1.071699e+08,EL SERENO,156,373.13,15,35.88,2020/05/28,1.455083e+07,20343.411692
50,51,EAST HOLLYWOOD,,22836.213029,3.059998e+07,EAST HOLLYWOOD,218,744.36,35,119.51,2020/05/28,4.155734e+06,8416.248895
51,52,LITTLE ARMENIA,,10443.903286,6.813643e+06,LITTLE ARMENIA,190,2367.60,30,373.83,2020/05/28,9.253997e+05,3848.835264
52,53,ECHO PARK,,30983.235319,3.405917e+07,ECHO PARK,43,301.63,0,0.00,2020/05/28,4.624379e+06,11425.322886
53,54,MELROSE,,83856.843302,1.249098e+08,MELROSE,538,692.44,37,47.62,2020/05/28,1.695999e+07,30874.551151
54,55,ELYSIAN PARK,,28944.401283,3.650165e+07,ELYSIAN PARK,16,280.11,0,0.00,2020/05/28,4.955445e+06,10667.374497
55,56,TEMPLE-BEAUDRY,,20920.365554,1.654210e+07,TEMPLE-BEAUDRY,308,780.10,11,27.86,2020/05/28,2.245784e+06,7708.101458
56,57,TEMPLE-BEAUDRY,,29450.871288,2.043484e+07,TEMPLE-BEAUDRY,308,780.10,11,27.86,2020/05/28,2.773305e+06,10843.642923
57,58,WESTWOOD,yes,51016.181146,1.027600e+08,WESTWOOD,66,121.98,5,9.24,2020/05/28,1.394701e+07,18791.330122
58,59,HANCOCK PARK,,36798.876449,5.555588e+07,HANCOCK PARK,78,457.77,2,11.74,2020/05/28,7.540980e+06,13551.486490
59,60,HISTORIC FILIPINOTOWN,yes,21059.746980,1.709471e+07,HISTORIC FILIPINOTOWN,130,937.27,5,36.05,2020/05/28,2.320460e+06,7754.169517
60,61,CARTHAY,,27378.290780,2.775742e+07,CARTHAY,76,529.14,7,48.74,2020/05/28,3.767809e+06,10081.183223
61,62,WILSHIRE CENTER,,39543.566635,3.595976e+07,WILSHIRE CENTER,228,454.45,16,31.89,2020/05/28,4.880898e+06,14570.072240
62,63,PARK LA BREA,,16543.826473,1.345944e+07,PARK LA BREA,19,139.91,1,7.36,2020/05/28,1.826926e+06,6094.526455
63,64,UNIVERSITY HILLS,yes,17416.754258,1.618417e+07,UNIVERSITY HILLS,11,320.79,1,29.16,2020/05/28,2.196674e+06,6416.141790
64,65,ANGELINO HEIGHTS,,11358.901405,5.086158e+06,ANGELINO HEIGHTS,16,639.49,0,0.00,2020/05/28,6.903421e+05,4188.874892
65,66,MIRACLE MILE,yes,39099.710423,3.357198e+07,MIRACLE MILE,40,222.41,4,22.24,2020/05/28,4.555789e+06,14393.689293
66,67,WESTLAKE,yes,25445.340557,3.226154e+07,WESTLAKE,693,1167.55,71,119.62,2020/05/28,4.377755e+06,9368.796844
67,68,CHINATOWN,yes,14302.609135,1.091429e+07,CHINATOWN,21,261.81,1,12.47,2020/05/28,1.481171e+06,5269.510231
68,69,KOREATOWN,yes,28431.500299,4.018718e+07,KOREATOWN,261,504.90,16,30.95,2020/05/28,5.452833e+06,10465.774573
69,70,CENTURY CITY,yes,24103.136811,3.248512e+07,CENTURY CITY,32,250.16,0,0.00,2020/05/28,4.407600e+06,8878.108048
70,71,SOUTH CARTHAY,,17877.070718,1.438654e+07,SOUTH CARTHAY,35,330.34,0,0.00,2020/05/28,1.952178e+06,6582.002250
71,72,COUNTRY CLUB PARK,,23013.423345,2.475967e+07,COUNTRY CLUB PARK,93,613.74,18,118.79,2020/05/28,3.359514e+06,8474.280422
72,73,MID-CITY,,29564.321088,3.057051e+07,MID-CITY,55,365.93,3,19.96,2020/05/28,4.147510e+06,10880.595039
73,74,CHEVIOT HILLS,yes,33811.675299,4.787534e+07,CHEVIOT HILLS,20,218.08,1,10.90,2020/05/28,6.493954e+06,12455.744785
74,75,BEVERLYWOOD,,32869.601642,3.173751e+07,BEVERLYWOOD,37,280.88,0,0.00,2020/05/28,4.305354e+06,12111.940645
75,76,CRESTVIEW,,21361.741998,2.137680e+07,CRESTVIEW,86,756.51,14,123.15,2020/05/28,2.900203e+06,7863.687671
76,77,PICO-UNION,yes,27511.071372,3.720817e+07,PICO-UNION,514,1228.43,56,133.84,2020/05/28,5.047612e+06,10129.765921
77,78,LITTLE TOKYO,yes,11664.952748,6.286183e+06,LITTLE TOKYO,17,542.61,2,63.84,2020/05/28,8.528005e+05,4299.226401
78,79,WEST LOS ANGELES,,36739.251452,6.177350e+07,WEST LOS ANGELES,74,196.62,4,10.63,2020/05/28,8.379145e+06,13525.917608
79,80,VICTORIA PARK,,15968.962691,1.116732e+07,VICTORIA PARK,56,666.75,2,23.81,2020/05/28,1.514879e+06,5876.927018
80,81,HARVARD HEIGHTS,,21243.254529,2.135582e+07,HARVARD HEIGHTS,129,715.28,13,72.08,2020/05/28,2.896957e+06,7815.186684
81,82,LAFAYETTE SQUARE,,11792.383539,7.428377e+06,LAFAYETTE SQUARE,18,394.82,0,0.00,2020/05/28,1.007666e+06,4340.469932
82,83,CADILLAC-CORNING,,10618.996070,6.620027e+06,CADILLAC-CORNING,29,407.25,1,14.04,2020/05/28,8.979917e+05,3910.141907
83,84,ST ELMO VILLAGE,,8692.253300,4.200717e+06,ST ELMO VILLAGE,44,959.86,5,109.08,2020/05/28,5.698203e+05,3201.497329
84,85,CLOVERDALE/COCHRAN,,23087.390727,2.634495e+07,CLOVERDALE/COCHRAN,60,412.29,3,20.61,2020/05/28,3.573294e+06,8497.338060
85,86,RANCHO PARK,yes,22366.919351,2.345701e+07,RANCHO PARK,17,259.15,0,0.00,2020/05/28,3.181399e+06,8235.564351
86,87,FAIRCREST HEIGHTS,,16543.999664,1.320662e+07,FAIRCREST HEIGHTS,4,111.11,1,27.78,2020/05/28,1.791285e+06,6093.398899
87,88,REYNIER VILLAGE,,14774.839444,1.000579e+07,REYNIER VILLAGE,10,236.52,0,0.00,2020/05/28,1.357063e+06,5438.656344
88,89,WEST ADAMS,yes,36691.266548,4.150342e+07,WEST ADAMS,202,731.09,16,57.91,2020/05/28,5.628948e+06,13493.075360
89,90,WELLINGTON SQUARE,,13134.629720,8.688491e+06,WELLINGTON SQUARE,21,427.26,0,0.00,2020/05/28,1.178387e+06,4836.595232
90,91,LONGWOOD,,11185.085374,7.238514e+06,LONGWOOD,21,487.92,0,0.00,2020/05/28,9.817395e+05,4118.046710
91,92,UNIVERSITY PARK,,29653.758500,4.182568e+07,UNIVERSITY PARK,172,626.46,1,3.64,2020/05/28,5.671629e+06,10914.181993
92,93,REGENT SQUARE,,10436.064026,5.307139e+06,REGENT SQUARE,4,143.88,0,0.00,2020/05/28,7.197351e+05,3841.212902
93,94,MAR VISTA,yes,50520.896063,9.760012e+07,MAR VISTA,80,188.36,4,9.42,2020/05/28,1.323001e+07,18600.258818
94,95,ADAMS-NORMANDIE,,13229.191068,1.042764e+07,ADAMS-NORMANDIE,50,609.61,2,24.38,2020/05/28,1.414040e+06,4869.284845
95,96,PALMS,yes,38707.121925,4.914644e+07,PALMS,185,421.63,19,43.30,2020/05/28,6.663597e+06,14246.965935
96,97,CRENSHAW DISTRICT,yes,26051.729390,3.323322e+07,CRENSHAW DISTRICT,67,484.49,3,21.69,2020/05/28,4.505926e+06,9596.043315
97,98,ALSACE,,19230.088057,1.632470e+07,ALSACE,47,377.66,0,0.00,2020/05/28,2.213707e+06,7072.855246
98,99,EXPOSITION,,13735.517632,9.716981e+06,EXPOSITION,9,270.60,0,0.00,2020/05/28,1.317584e+06,5059.337597
99,100,EXPOSITION PARK,,39842.908357,7.066920e+07,EXPOSITION PARK,239,532.09,11,24.49,2020/05/28,9.580693e+06,14658.729471
100,101,JEFFERSON PARK,,14248.765226,1.250248e+07,JEFFERSON PARK,38,470.70,1,12.39,2020/05/28,1.695201e+06,5248.087906
101,102,CENTRAL,yes,32464.838849,4.265328e+07,CENTRAL,372,954.04,15,38.47,2020/05/28,5.782236e+06,11949.541867
102,103,BALDWIN HILLS,yes,54062.353876,7.247132e+07,BALDWIN HILLS,159,510.84,8,25.70,2020/05/28,9.824086e+06,19900.410536
103,104,LEIMERT PARK,yes,28521.779362,3.702526e+07,LEIMERT PARK,56,367.57,2,13.13,2020/05/28,5.018035e+06,10505.453595
104,105,VERNON CENTRAL,,40253.507093,6.374561e+07,VERNON CENTRAL,563,1082.73,11,21.15,2020/05/28,8.638356e+06,14821.394624
105,106,WEST VERNON,,51127.238837,7.071794e+07,WEST VERNON,435,810.90,15,27.96,2020/05/28,9.583048e+06,18815.434532
106,107,SOUTH PARK,,27812.882474,4.027228e+07,SOUTH PARK,348,916.73,7,18.44,2020/05/28,5.457279e+06,10241.813640
107,108,VENICE,yes,42487.436783,7.736566e+07,VENICE,65,191.83,2,5.90,2020/05/28,1.048216e+07,15635.067338
108,109,DEL REY,yes,44901.144468,6.505617e+07,DEL REY,72,240.51,3,10.02,2020/05/28,8.813664e+06,16524.724629
109,110,VERMONT SQUARE,,14247.989151,1.246482e+07,VERMONT SQUARE,83,1083.98,2,26.12,2020/05/28,1.689093e+06,5243.499460
110,111,HYDE PARK,,38453.657366,5.828203e+07,HYDE PARK,137,480.01,2,7.01,2020/05/28,7.894674e+06,14157.244608
111,112,HYDE PARK,,10307.121585,1.920946e+06,HYDE PARK,137,480.01,2,7.01,2020/05/28,2.602134e+05,3793.940244
112,113,PLAYA VISTA,,38808.201059,3.819863e+07,PLAYA VISTA,23,210.10,0,0.00,2020/05/28,5.173798e+06,14278.885933
113,114,FLORENCE-FIRESTONE,,34531.873594,7.062429e+07,FLORENCE-FIRESTONE,355,748.23,10,21.08,2020/05/28,9.564578e+06,12714.639131
114,115,HARVARD PARK,,34413.799816,6.262064e+07,HARVARD PARK,278,732.83,3,7.91,2020/05/28,8.482087e+06,12654.378489
115,116,WESTCHESTER,,115126.335809,3.592300e+08,WESTCHESTER,92,178.28,8,15.50,2020/05/28,4.862470e+07,42351.329844
116,117,MARINA PENINSULA,,17719.204490,1.016260e+07,MARINA PENINSULA,12,275.23,0,0.00,2020/05/28,1.376244e+06,6523.621550
117,118,PLAYA DEL REY,,28610.702392,1.897879e+07,PLAYA DEL REY,3,93.87,0,0.00,2020/05/28,2.569351e+06,10526.168197
118,119,VERMONT KNOLLS,,26864.296763,3.141737e+07,VERMONT KNOLLS,133,773.26,2,11.63,2020/05/28,4.254199e+06,9881.320376
119,120,MANCHESTER SQUARE,,18622.468538,2.125087e+07,MANCHESTER SQUARE,19,222.59,0,0.00,2020/05/28,2.877470e+06,6854.849000
120,121,VERMONT VISTA,,30925.398944,5.107728e+07,VERMONT VISTA,298,723.55,5,12.14,2020/05/28,6.913927e+06,11383.755699
121,122,GREEN MEADOWS,,23931.668982,3.411765e+07,GREEN MEADOWS,152,706.81,4,18.60,2020/05/28,4.617891e+06,8806.666973
122,123,GRAMERCY PLACE,,26306.745516,3.159378e+07,GRAMERCY PLACE,64,594.57,2,18.58,2020/05/28,4.276335e+06,9682.678307
123,124,WATTS,yes,35531.788092,5.625306e+07,WATTS,268,628.02,7,16.40,2020/05/28,7.612083e+06,13071.392559
124,125,FIGUEROA PARK SQUARE,,19131.808966,1.889183e+07,FIGUEROA PARK SQUARE,36,412.80,0,0.00,2020/05/28,2.555966e+06,7043.988196
125,126,CENTURY PALMS/COVE,,31249.864195,5.865399e+07,CENTURY PALMS/COVE,231,684.12,2,5.92,2020/05/28,7.935578e+06,11491.071137
126,127,HARBOR GATEWAY,yes,114051.615367,1.404856e+08,HARBOR GATEWAY,128,293.58,4,9.17,2020/05/28,1.897702e+07,41974.869946
127,128,WILMINGTON,yes,125282.464126,2.121132e+08,WILMINGTON,225,398.32,3,5.31,2020/05/28,2.859673e+07,46028.603236
128,129,HARBOR CITY,yes,70151.472410,1.418003e+08,HARBOR CITY,89,306.16,4,13.76,2020/05/28,1.911539e+07,25771.148310
129,130,LITTLE BANGLADESH,yes,15828.708179,1.391565e+07,LITTLE BANGLADESH,124,437.50,2,7.06,2020/05/28,1.888617e+06,5826.919528
130,131,VALLEY GLEN,yes,31796.927121,6.308250e+07,VALLEY GLEN,124,413.11,3,9.99,2020/05/28,8.585677e+06,11730.523971
131,132,RESEDA RANCH,yes,18708.731569,1.451375e+07,RESEDA RANCH,30,647.11,0,0.00,2020/05/28,1.976856e+06,6902.338968
132,133,HARBOR PINES,yes,10876.810441,6.269908e+06,HARBOR PINES,9,373.60,0,0.00,2020/05/28,8.452589e+05,3991.750245
133,134,SYCAMORE SQUARE,yes,6644.151958,2.623158e+06,SYCAMORE SQUARE,1,154.56,0,0.00,2020/05/28,3.559718e+05,2447.865365
134,135,BROOKSIDE,yes,10335.543446,5.858064e+06,BROOKSIDE,0,0.00,0,0.00,2020/05/28,7.949482e+05,3805.238012
135,136,VIEW HEIGHTS,Yes,9976.486406,6.366350e+06,VIEW HEIGHTS,8,216.57,2,54.14,2020/05/28,8.624123e+05,3672.727579

# testing and tot_cases have date as common column
# To do:  
* Need to parse date to match in both tables.

In [63]:
import numpy as np
nyt_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
by_county = pd.read_csv(nyt_url, dtype={'fips': str})
display(by_county.head(10))
by_county.dtypes

         date       county       state   fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061      1       0
1  2020-01-22    Snohomish  Washington  53061      1       0
2  2020-01-23    Snohomish  Washington  53061      1       0
3  2020-01-24         Cook    Illinois  17031      1       0
4  2020-01-24    Snohomish  Washington  53061      1       0
5  2020-01-25       Orange  California  06059      1       0
6  2020-01-25         Cook    Illinois  17031      1       0
7  2020-01-25    Snohomish  Washington  53061      1       0
8  2020-01-26     Maricopa     Arizona  04013      1       0
9  2020-01-26  Los Angeles  California  06037      1       0

date      object
county    object
state     object
fips      object
cases      int64
deaths     int64
dtype: object

In [64]:
cases_by_county = by_county.loc[by_county['state'] == 'California']
display(cases_by_county.head())
cases_by_county.shape

          date       county       state   fips  cases  deaths
5   2020-01-25       Orange  California  06059      1       0
9   2020-01-26  Los Angeles  California  06037      1       0
10  2020-01-26       Orange  California  06059      1       0
14  2020-01-27  Los Angeles  California  06037      1       0
15  2020-01-27       Orange  California  06059      1       0

(4457, 6)

In [65]:
import datetime
cases_by_county['month'] = pd.DatetimeIndex(cases_by_county['date']).month
cases_by_county['day'] = pd.DatetimeIndex(cases_by_county['date']).day
cases_by_county['year'] = pd.DatetimeIndex(cases_by_county['date']).year
cases_by_county.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

          date       county       state   fips  cases  deaths  month  day  year
5   2020-01-25       Orange  California  06059      1       0      1   25  2020
9   2020-01-26  Los Angeles  California  06037      1       0      1   26  2020
10  2020-01-26       Orange  California  06059      1       0      1   26  2020
14  2020-01-27  Los Angeles  California  06037      1       0      1   27  2020
15  2020-01-27       Orange  California  06059      1       0      1   27  2020

In [66]:
set_option('display.max_rows',  None)
group_cases = cases_by_county.groupby(['month', 'county'], as_index=False)['cases', 'deaths'].sum()
display(group_cases.head())
print(group_cases.shape)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

   month       county  cases  deaths
0      1  Los Angeles      6       0
1      1       Orange      7       0
2      1  Santa Clara      1       0
3      2     Humboldt     10       0
4      2  Los Angeles     29       0

(179, 4)

In [67]:
census_url = 'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/2010_Census_Populations_by_Zip_Code.csv'
census_pop = pd.read_csv(census_url)
display(census_pop.head())
census_pop.shape

   Zip Code  Total Population  ...  Total Households  Average Household Size
0     91371                 1  ...                 1                    1.00
1     90001             57110  ...             12971                    4.40
2     90002             51223  ...             11731                    4.36
3     90003             66266  ...             15642                    4.22
4     90004             62180  ...             22547                    2.73

[5 rows x 7 columns]

(319, 7)

In [0]:
!pip install -q uszipcode

In [69]:
pd.DataFrame(census_pop.iloc[:,0])

     Zip Code
0       91371
1       90001
2       90002
3       90003
4       90004
5       90005
6       90006
7       90007
8       90008
9       90010
10      90011
11      90012
12      90013
13      90014
14      90015
15      90016
16      90017
17      90018
18      90019
19      90020
20      90021
21      90022
22      90023
23      90024
24      90025
25      90026
26      90027
27      90028
28      90029
29      90031
30      90032
31      90033
32      90034
33      90035
34      90036
35      90037
36      90038
37      90039
38      90040
39      90041
40      90042
41      90043
42      90044
43      90045
44      90046
45      90047
46      90048
47      90049
48      90056
49      90057
50      90058
51      90059
52      90061
53      90062
54      90063
55      90064
56      90065
57      90066
58      90067
59      90068
60      90069
61      90071
62      90073
63      90077
64      90079
65      90089
66      90090
67      90094
68      90095
69      90201
70      90210
71      90211
72      90212
73      90220
74      90221
75      90222
76      90230
77      90232
78      90240
79      90241
80      90242
81      90245
82      90247
83      90248
84      90249
85      90250
86      90254
87      90255
88      90260
89      90262
90      90263
91      90265
92      90266
93      90270
94      90272
95      90274
96      90275
97      90277
98      90278
99      90280
100     90290
101     90291
102     90292
103     90293
104     90301
105     90302
106     90303
107     90304
108     90305
109     90401
110     90402
111     90403
112     90404
113     90405
114     90501
115     90502
116     90503
117     90504
118     90505
119     90506
120     90601
121     90602
122     90603
123     90604
124     90605
125     90606
126     90621
127     90623
128     90630
129     90631
130     90638
131     90640
132     90650
133     90660
134     90670
135     90701
136     90703
137     90704
138     90706
139     90710
140     90712
141     90713
142     90715
143     90716
144     90717
145     90720
146     90723
147     90731
148     90732
149     90740
150     90744
151     90745
152     90746
153     90747
154     90755
155     90802
156     90803
157     90804
158     90805
159     90806
160     90807
161     90808
162     90810
163     90813
164     90814
165     90815
166     90822
167     90831
168     91001
169     91006
170     91007
171     91008
172     91010
173     91011
174     91016
175     91020
176     91024
177     91030
178     91040
179     91042
180     91046
181     91101
182     91103
183     91104
184     91105
185     91106
186     91107
187     91108
188     91201
189     91202
190     91203
191     91204
192     91205
193     91206
194     91207
195     91208
196     91210
197     91214
198     91301
199     91302
200     91303
201     91304
202     91306
203     91307
204     91311
205     91316
206     91321
207     91324
208     91325
209     91326
210     91330
211     91331
212     91335
213     91340
214     91342
215     91343
216     91344
217     91345
218     91350
219     91351
220     91352
221     91354
222     91355
223     91356
224     91361
225     91362
226     91364
227     91367
228     91377
229     91381
230     91384
231     91387
232     91390
233     91401
234     91402
235     91403
236     91405
237     91406
238     91411
239     91423
240     91436
241     91501
242     91502
243     91504
244     91505
245     91506
246     91601
247     91602
248     91604
249     91605
250     91606
251     91607
252     91608
253     91702
254     91706
255     91709
256     91710
257     91711
258     91722
259     91723
260     91724
261     91731
262     91732
263     91733
264     91740
265     91741
266     91744
267     91745
268     91746
269     91748
270     91750
271     91754
272     91755
273     91759
274     91763
275     91765
276     91766
277     91767
278     91768
279     91770
280     91773
281     91775
282     91776
283     91780
284     91784
285     91786
286     91789
287     91790
288     91791
289     91792
290     91801
291     91803
292     92301
293     92371
294     92372
295     92397
296     92821
297     92823
298     92833
299     93040
300     93063
301     93225
302     93243
303     93252
304     93510
305     93523
306     93532
307     93534
308     93535
309     93536
310     93543
311     93544
312     93550
313     93551
314     93552
315     93553
316     93560
317     93563
318     93591

In [70]:
from uszipcode import SearchEngine

search = SearchEngine(simple_zipcode=True)
# iterate over the zip codes and extract the county name
zipy_code = census_pop.iloc[:,0].values
county = pd.DataFrame()
city = pd.DataFrame()
for i in zipy_code:
  temp_1 = pd.DataFrame(np.array((search.by_zipcode(i).county).split(',')))
  temp_2 = pd.DataFrame(np.array((search.by_zipcode(i).city).split(',')))
  county =  county.append(temp_1, ignore_index = True)
  city = city.append(temp_2, ignore_index = True)
# rename the column
county.rename(columns={0: 'county'}, inplace=True)
city.rename(columns = {0: 'city'}, inplace=True)
# concat with the census_pop
census = pd.concat([census_pop, county, city],axis=1, join='inner')

census.shape

(319, 9)

In [71]:
# remove County word from county name

census['county'] = census['county'].str.replace('County', '')
census.head()

   Zip Code  Total Population  ...        county            city
0     91371                 1  ...  Los Angeles   Woodland Hills
1     90001             57110  ...  Los Angeles      Los Angeles
2     90002             51223  ...  Los Angeles      Los Angeles
3     90003             66266  ...  Los Angeles      Los Angeles
4     90004             62180  ...  Los Angeles      Los Angeles

[5 rows x 9 columns]

In [72]:
df1 = census.drop(columns='Zip Code')
# df1 = df1.groupby(['city', 'county'], as_index=False)['Total Population'].sum()
display(df1.head())
print(df1.shape)
# tot = df1.merge(group_cases,how='left', left_on='county', right_on='county')

# tot

   Total Population  Median Age  ...        county            city
0                 1        73.5  ...  Los Angeles   Woodland Hills
1             57110        26.6  ...  Los Angeles      Los Angeles
2             51223        25.5  ...  Los Angeles      Los Angeles
3             66266        26.3  ...  Los Angeles      Los Angeles
4             62180        34.8  ...  Los Angeles      Los Angeles

[5 rows x 8 columns]

(319, 8)

In [73]:
ces_data = 'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/asthma_by_age.csv'
col_list = ['ZIP', 'California County', 'Traffic', 'Asthma']
asthma_by_age = pd.read_csv(ces_data, usecols=col_list, na_values=np.nan)
display(asthma_by_age.head())
asthma_by_age.shape

  California County    ZIP  Traffic  Asthma
0           Fresno   93706   909.14  131.64
1    San Bernardino  91761   782.26   60.66
2           Fresno   93706   576.52  142.12
3       San Joaquin  95203  1305.01  142.17
4           Fresno   93725   435.16   90.48

(16179, 4)

In [74]:
tot_cases.head()

      County Name Most Recent Date  Total Count Confirmed  ...  month  day  year
0     Los Angeles         4/1/2020                 3502.0  ...      4    1  2020
1  San Bernardino         4/1/2020                  245.0  ...      4    1  2020
2          Orange         4/1/2020                  579.0  ...      4    1  2020
3       Riverside         4/1/2020                  306.0  ...      4    1  2020
4      Sacramento         4/1/2020                  299.0  ...      4    1  2020

[5 rows x 11 columns]

In [0]:
# rename columns - easy merging
tot_cases = tot_cases.rename(columns={'County Name': 'county', 'Total Count Deaths': 'death'})
census = census.rename(columns={'Zip Code': 'ZIP', 'Total Population': 'population'})
cases_by_county = cases_by_county.drop(columns=['fips', 'date'])
asthma_by_age = asthma_by_age.rename(columns={'California County': 'county'})

In [78]:
# get the unique values from summary statistics to count the counties.
display(tot_cases[['county']].describe())
display(census[['county', 'city']].describe())
display(cases_by_county[['county']].describe())
display(asthma_by_age[['county']].describe())

       county
count    3598
unique     59
top     Marin
freq       61

              county         city
count            319          319
unique             5          155
top     Los Angeles   Los Angeles
freq             290           65

        county
count     4457
unique      59
top     Orange
freq       128

             county
count         16012
unique         7999
top     Los Angeles
freq           2343

In [0]:
# filter the counties to match the other dataframes  -  take the min counties, which is 56