<a href="https://colab.research.google.com/github/salma71/COVID_LA/blob/salma/data_expolration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# COVID-19 cases per county in CA
import pandas as pd
from pandas import set_option

url = 'https://data.chhs.ca.gov/dataset/6882c390-b2d7-4b9a-aefa-2068cee63e47/resource/6cd8d424-dfaa-4bdd-9410-a3d656e1176e/download/covid19data.csv'  
tot_cases = pd.read_csv(url, parse_dates=True)
with pd.option_context('display.max_columns', None):
  display(tot_cases.head())

,County Name,Most Recent Date,Total Count Confirmed,Total Count Deaths,COVID-19 Positive Patients,Suspected COVID-19 Positive Patients,ICU COVID-19 Positive Patients,ICU COVID-19 Suspected Patients
0,Los Angeles,4/1/2020,3502.0,66.0,739.0,1332.0,335.0,220.0
1,San Bernardino,4/1/2020,245.0,5.0,95.0,196.0,39.0,52.0
2,Orange,4/1/2020,579.0,11.0,117.0,221.0,50.0,48.0
3,Riverside,4/1/2020,306.0,11.0,85.0,182.0,29.0,47.0
4,Sacramento,4/1/2020,299.0,8.0,53.0,138.0,20.0,33.0

In [5]:
url_2 =  'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/COVID19_by_Neighborhood.csv'
by_neighbour = pd.read_csv(url_2)
with pd.option_context('display.max_columns', None):
  display(by_neighbour)

,FID,COMTY_NAME,CERT,Shape_Leng,Shape_Area,location,cases,case_rate,deaths,death_rate,Date,Shape__Area,Shape__Length
0,1,GRANADA HILLS,yes,89564.69,4.26e+08,GRANADA HILLS,299,513.83,22,37.81,2020/05/28,5.82e+07,33094.50
1,2,PORTER RANCH,yes,73616.95,2.27e+08,PORTER RANCH,89,250.08,5,14.05,2020/05/28,3.09e+07,27183.55
2,3,LAKEVIEW TERRACE,yes,75477.96,1.45e+08,LAKEVIEW TERRACE,106,807.13,3,22.84,2020/05/28,1.98e+07,27863.46
3,4,MISSION HILLS,yes,50728.51,1.06e+08,MISSION HILLS,139,576.19,6,24.87,2020/05/28,1.45e+07,18746.40
4,5,ANGELES NATIONAL FOREST,yes,92240.84,1.46e+08,ANGELES NATIONAL FOREST,0,0.00,0,0.00,2020/05/28,1.99e+07,34046.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,132,RESEDA RANCH,yes,18708.73,1.45e+07,RESEDA RANCH,30,647.11,0,0.00,2020/05/28,1.98e+06,6902.34
132,133,HARBOR PINES,yes,10876.81,6.27e+06,HARBOR PINES,9,373.60,0,0.00,2020/05/28,8.45e+05,3991.75
133,134,SYCAMORE SQUARE,yes,6644.15,2.62e+06,SYCAMORE SQUARE,1,154.56,0,0.00,2020/05/28,3.56e+05,2447.87
134,135,BROOKSIDE,yes,10335.54,5.86e+06,BROOKSIDE,0,0.00,0,0.00,2020/05/28,7.95e+05,3805.24
135,136,VIEW HEIGHTS,Yes,9976.49,6.37e+06,VIEW HEIGHTS,8,216.57,2,54.14,2020/05/28,8.62e+05,3672.73

In [9]:
# url_1 = 'https://data.chhs.ca.gov/dataset/6882c390-b2d7-4b9a-aefa-2068cee63e47/resource/6cd8d424-dfaa-4bdd-9410-a3d656e1176e/download/covid19data.csv'  
# url_2 = 'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/COVID19_by_Neighborhood.csv'
url_3 = 'https://lahub.maps.arcgis.com/sharing/rest/content/items/158dab4a07b04ecb8d47fea1746303ac/data'
set_option('display.max_columns', None)
# df = pd.concat(map(pd.read_csv, [url_1, url_2, url_3]))
testing  = pd.read_csv(url_3)
display(testing.head())
testing.shape

         Date  Performed  Cumulative
0  2020-03-20        145         145
1  2020-03-21        100         245
2  2020-03-22          0         245
3  2020-03-23        694         939
4  2020-03-24       1072        2011

(69, 3)

# testing and tot_cases have date as common column
# To do:  
* Need to parse date to match in both tables.

In [54]:
import numpy as np
nyt_url = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
by_county = pd.read_csv(nyt_url, dtype={'fips': str})
display(by_county.head(10))
by_county.dtypes

         date       county       state   fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061      1       0
1  2020-01-22    Snohomish  Washington  53061      1       0
2  2020-01-23    Snohomish  Washington  53061      1       0
3  2020-01-24         Cook    Illinois  17031      1       0
4  2020-01-24    Snohomish  Washington  53061      1       0
5  2020-01-25       Orange  California  06059      1       0
6  2020-01-25         Cook    Illinois  17031      1       0
7  2020-01-25    Snohomish  Washington  53061      1       0
8  2020-01-26     Maricopa     Arizona  04013      1       0
9  2020-01-26  Los Angeles  California  06037      1       0

date      object
county    object
state     object
fips      object
cases      int64
deaths     int64
dtype: object

In [55]:
by_county = by_county.loc[by_county['state'] == 'California']
display(by_county.head())
by_county.shape

          date       county       state   fips  cases  deaths
5   2020-01-25       Orange  California  06059      1       0
9   2020-01-26  Los Angeles  California  06037      1       0
10  2020-01-26       Orange  California  06059      1       0
14  2020-01-27  Los Angeles  California  06037      1       0
15  2020-01-27       Orange  California  06059      1       0

(4229, 6)

In [59]:
census_url = 'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/2010_Census_Populations_by_Zip_Code.csv'
census_pop = pd.read_csv(census_url)
display(census_pop.head())
census_pop.shape

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73

(319, 7)

In [67]:
!pip install -q uszipcode

     |████████████████████████████████| 1.9MB 4.8MB/s
  Building wheel for pyzipcode (setup.py) ... done

In [96]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
# zipcode = search.by_zipcode("90003")
# zipcode.county
for i, row in census_pop.iterrows():
  zips = census_pop.loc[i, 'Zip Code']
  
  county = (search.by_zipcode(zips)).county
  census_pop['county'] = county

census_pop.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size,county
0,91371,1,73.5,0,1,1,1.00,Los Angeles County
1,90001,57110,26.6,28468,28642,12971,4.40,Los Angeles County
2,90002,51223,25.5,24876,26347,11731,4.36,Los Angeles County
3,90003,66266,26.3,32631,33635,15642,4.22,Los Angeles County
4,90004,62180,34.8,31302,30878,22547,2.73,Los Angeles County