<a href="https://colab.research.google.com/github/salma71/COVID_LA/blob/salma/data_expolration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# COVID-19 cases per county in CA
import pandas as pd
url = 'https://data.chhs.ca.gov/dataset/6882c390-b2d7-4b9a-aefa-2068cee63e47/resource/6cd8d424-dfaa-4bdd-9410-a3d656e1176e/download/covid19data.csv'  
tot_cases = pd.read_csv(url)
tot_cases.head()

      County Name  ... ICU COVID-19 Suspected Patients
0     Los Angeles  ...                           220.0
1  San Bernardino  ...                            52.0
2          Orange  ...                            48.0
3       Riverside  ...                            47.0
4      Sacramento  ...                            33.0

[5 rows x 8 columns]