<a href="https://colab.research.google.com/github/salma71/COVID_LA/blob/salma/data_expolration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# COVID-19 cases per county in CA
import pandas as pd
from pandas import set_option

url = 'https://data.chhs.ca.gov/dataset/6882c390-b2d7-4b9a-aefa-2068cee63e47/resource/6cd8d424-dfaa-4bdd-9410-a3d656e1176e/download/covid19data.csv'  
tot_cases = pd.read_csv(url)
with pd.option_context('display.max_columns', None):
  display(tot_cases)

,County Name,Most Recent Date,Total Count Confirmed,Total Count Deaths,COVID-19 Positive Patients,Suspected COVID-19 Positive Patients,ICU COVID-19 Positive Patients,ICU COVID-19 Suspected Patients
0,Los Angeles,4/1/2020,3502.0,66.0,739.0,1332.0,335.0,220.0
1,San Bernardino,4/1/2020,245.0,5.0,95.0,196.0,39.0,52.0
2,Orange,4/1/2020,579.0,11.0,117.0,221.0,50.0,48.0
3,Riverside,4/1/2020,306.0,11.0,85.0,182.0,29.0,47.0
4,Sacramento,4/1/2020,299.0,8.0,53.0,138.0,20.0,33.0
...,...,...,...,...,...,...,...,...
3357,Tuolumne,05/27/2020,4.0,0.0,0.0,0.0,0.0,0.0
3358,Unassigned,05/27/2020,2.0,0.0,0.0,0.0,0.0,0.0
3359,Ventura,05/27/2020,1065.0,32.0,28.0,24.0,10.0,10.0
3360,Yolo,05/27/2020,204.0,22.0,0.0,0.0,0.0,0.0
3361,Yuba,05/27/2020,24.0,1.0,1.0,0.0,0.0,0.0

In [2]:
print("shape of the data: ",tot_cases.shape)
set_option('precision', 1)
tot_cases.describe()

shape of the data:  (3362, 8)

       Total Count Confirmed  ...  ICU COVID-19 Suspected Patients
count                 3361.0  ...                           3331.0
mean                   859.4  ...                              5.6
std                   3559.5  ...                             17.0
min                      0.0  ...                              0.0
25%                      7.0  ...                              0.0
50%                     58.0  ...                              1.0
75%                    484.0  ...                              4.0
max                  48711.0  ...                            220.0

[8 rows x 6 columns]

In [3]:
display(tot_cases.dtypes)

County Name                              object
Most Recent Date                         object
Total Count Confirmed                   float64
Total Count Deaths                      float64
COVID-19 Positive Patients              float64
Suspected COVID-19 Positive Patients    float64
ICU COVID-19 Positive Patients          float64
ICU COVID-19 Suspected Patients         float64
dtype: object

In [4]:
set_option('precision', 2)
display(tot_cases.corr(method='pearson'))

                                      Total Count Confirmed  ...  ICU COVID-19 Suspected Patients
Total Count Confirmed                                  1.00  ...                             0.68
Total Count Deaths                                     0.99  ...                             0.64
COVID-19 Positive Patients                             0.87  ...                             0.86
Suspected COVID-19 Positive Patients                   0.68  ...                             0.97
ICU COVID-19 Positive Patients                         0.83  ...                             0.89
ICU COVID-19 Suspected Patients                        0.68  ...                             1.00

[6 rows x 6 columns]

In [5]:
url_2 =  'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/COVID19_by_Neighborhood.csv'
by_neighbour = pd.read_csv(url_2)
with pd.option_context('display.max_columns', None):
  display(by_neighbour)

,FID,COMTY_NAME,CERT,Shape_Leng,Shape_Area,location,cases,case_rate,deaths,death_rate,Date,Shape__Area,Shape__Length
0,1,GRANADA HILLS,yes,89564.69,4.26e+08,GRANADA HILLS,299,513.83,22,37.81,2020/05/28,5.82e+07,33094.50
1,2,PORTER RANCH,yes,73616.95,2.27e+08,PORTER RANCH,89,250.08,5,14.05,2020/05/28,3.09e+07,27183.55
2,3,LAKEVIEW TERRACE,yes,75477.96,1.45e+08,LAKEVIEW TERRACE,106,807.13,3,22.84,2020/05/28,1.98e+07,27863.46
3,4,MISSION HILLS,yes,50728.51,1.06e+08,MISSION HILLS,139,576.19,6,24.87,2020/05/28,1.45e+07,18746.40
4,5,ANGELES NATIONAL FOREST,yes,92240.84,1.46e+08,ANGELES NATIONAL FOREST,0,0.00,0,0.00,2020/05/28,1.99e+07,34046.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,132,RESEDA RANCH,yes,18708.73,1.45e+07,RESEDA RANCH,30,647.11,0,0.00,2020/05/28,1.98e+06,6902.34
132,133,HARBOR PINES,yes,10876.81,6.27e+06,HARBOR PINES,9,373.60,0,0.00,2020/05/28,8.45e+05,3991.75
133,134,SYCAMORE SQUARE,yes,6644.15,2.62e+06,SYCAMORE SQUARE,1,154.56,0,0.00,2020/05/28,3.56e+05,2447.87
134,135,BROOKSIDE,yes,10335.54,5.86e+06,BROOKSIDE,0,0.00,0,0.00,2020/05/28,7.95e+05,3805.24
135,136,VIEW HEIGHTS,Yes,9976.49,6.37e+06,VIEW HEIGHTS,8,216.57,2,54.14,2020/05/28,8.62e+05,3672.73

In [6]:
print("shape of the data: ",by_neighbour.shape)
set_option('precision', 1)
by_neighbour.describe()

shape of the data:  (136, 13)

         FID  Shape_Leng  Shape_Area  ...  death_rate  Shape__Area  Shape__Length
count  136.0       136.0     1.4e+02  ...       136.0      1.4e+02          136.0
mean    68.5     44254.2     8.9e+07  ...        24.2      1.2e+07        16310.5
std     39.4     30882.6     1.0e+08  ...        40.4      1.4e+07        11388.1
min      1.0      6258.5     1.9e+06  ...         0.0      2.6e+05         2307.4
25%     34.8     20497.8     1.8e+07  ...         2.9      2.5e+06         7549.3
50%     68.5     34472.8     4.9e+07  ...        14.2      6.6e+06        12684.5
75%    102.2     60377.0     1.3e+08  ...        27.9      1.7e+07        22262.6
max    136.0    139755.6     4.3e+08  ...       373.8      5.9e+07        51517.8

[8 rows x 9 columns]

In [7]:
set_option('display.max_rows', None)
by_neighbour.dtypes

FID                int64
COMTY_NAME        object
CERT              object
Shape_Leng       float64
Shape_Area       float64
location          object
cases              int64
case_rate        float64
deaths             int64
death_rate       float64
Date              object
Shape__Area      float64
Shape__Length    float64
dtype: object

In [8]:
set_option('precision', 2)
display(by_neighbour.corr(method='pearson'))

                FID  Shape_Leng  ...  Shape__Area  Shape__Length
FID            1.00       -0.50  ...        -0.54          -0.50
Shape_Leng    -0.50        1.00  ...         0.91           1.00
Shape_Area    -0.54        0.91  ...         1.00           0.91
cases         -0.24        0.30  ...         0.27           0.30
case_rate     -0.02       -0.17  ...        -0.16          -0.17
deaths        -0.27        0.18  ...         0.20           0.18
death_rate    -0.11       -0.10  ...        -0.06          -0.10
Shape__Area   -0.54        0.91  ...         1.00           0.91
Shape__Length -0.50        1.00  ...         0.91           1.00

[9 rows x 9 columns]

In [9]:
# url_1 = 'https://data.chhs.ca.gov/dataset/6882c390-b2d7-4b9a-aefa-2068cee63e47/resource/6cd8d424-dfaa-4bdd-9410-a3d656e1176e/download/covid19data.csv'  
# url_2 = 'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/COVID19_by_Neighborhood.csv'
url_3 = 'https://lahub.maps.arcgis.com/sharing/rest/content/items/158dab4a07b04ecb8d47fea1746303ac/data'
set_option('display.max_columns', None)
# df = pd.concat(map(pd.read_csv, [url_1, url_2, url_3]))
testing  = pd.read_csv(url_3)
display(testing.head())
testing.shape

         Date  Performed  Cumulative
0  2020-03-20        145         145
1  2020-03-21        100         245
2  2020-03-22          0         245
3  2020-03-23        694         939
4  2020-03-24       1072        2011

(69, 3)

# testing and tot_cases have date as common column
# To do:  
* Need to parse date to match in both tables.

In [12]:
url_4 = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
by_county = pd.read_csv(url_4)
by_county

(182670, 6)

In [15]:
by_county = by_county.loc[by_county['state'] == 'California']
display(by_county.head())
by_county.shape

          date       county       state    fips  cases  deaths
5   2020-01-25       Orange  California  6059.0      1       0
9   2020-01-26  Los Angeles  California  6037.0      1       0
10  2020-01-26       Orange  California  6059.0      1       0
14  2020-01-27  Los Angeles  California  6037.0      1       0
15  2020-01-27       Orange  California  6059.0      1       0

(4229, 6)

In [17]:
url_5 = 'https://raw.githubusercontent.com/salma71/COVID_LA/salma/datasets/2010_Census_Populations_by_Zip_Code.csv'
census_pop = pd.read_csv(url_5)
display(census_pop.head())
census_pop.shape

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73

(319, 7)